@page
@model IndexModel

@if (Model.HasProjects)
{
	<h2>Projects and users</h2>
}
else
{
	<h2>Provide <i>float.com</i> credentials</h2>
}
<hr />

@if (Model.HasProjects == false)
{
	<div class="row">
		<div class="col-md-4">
			<form method="post">
				<div class="form-group">
					<label asp-for="Email"></label>
					<input asp-for="Email" class="form-control" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Password"></label>
					<input asp-for="Password" class="form-control" />
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
				<div class="form-group">
					<button type="submit" class="btn">Update</button>
				</div>
			</form>
		</div>
	</div>
	<br />
	<br />
	<br />
}

@if (Model.HasProjects)
{
	<div class="row text-center">
		<ul class="list-items">
			@foreach (var project in Model.Projects)
			{
				<li class="list-item">
					<div class="thumbnail">
						<div class="title"><p><strong>@Html.Raw(Model.JsonParse(project.ContentJson).SelectToken("$.project_name"))</strong></p></div>
						@foreach (var person in project.Persons)
						{
							<p>@Html.Raw(Model.JsonParse(person.ContentJson).SelectToken("$.name"))</p>
						}
					</div>
				</li>
			}
		</ul>
	</div>
}

@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")

	<script type="text/javascript" language="JavaScript">

		$('ul').masonry({
			itemSelector: '.list-item'
		});

	</script>
}
